Functional Requirements

X Must have clock with minutes and seconds milliseconds
X Must have a start stopwatch button
X Must have a stop stopwatch button
X Must have a reset stopwatch button
X Must have a lap stopwatch button

Non Functional Requirements

Start Stopwatch button must be green
Stop Stopwatch button must be red
Lap times must be red or green depending on fastest/slowest laptimes 

